html {
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to top, #1c1d27, #3b3e58);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /*
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 100px 100px;
    grid-template-areas:
      "cloud cloud cloud"
      "cloud cloud cloud"
      "cloud cloud cloud"
      "intermission intermission intermission";
    */

  }

  .scene-container {
      grid-area: cloud;
  }

  .intermission {
      grid-area: intermission;
      background-color: #9cc2da;
      height: 500px;
      padding-top: 250px;
      padding-bottom: 250px;
      color: #f1f1f1;

  }






  /*=======================
    opacity effect on h2      
=======================*/

.hidden {
    opacity: 0;
    transition: opacity 1s 1s ease-in;

}

.unhide {
    opacity: 1;
}

.hideme {
    opacity: 0;
}